@import url('https://fonts.googleapis.com/css?family=Inria Sans');
@import url('https://fonts.googleapis.com/css?family=Inika');

body{
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: #FDFBF8;
    font-family: "Inria Sans";
}

footer {
    text-align: center;
    padding: 10px 10px;
    font-size: 12px;
    background-color: #DFB33E;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    width: 60vw;
}
footer img{
    width: 5vw;
    max-width: 40px;
    max-height: 40px;
    min-width: 20px;
    margin: 10px 2vw;
}

.menubtn{
    display: none;
    cursor: pointer;
}
.content1 .closebtn{
    display: none;
    cursor: pointer;
}

.content1{
    display: flex;
    background-color: #DFB33E;
    border-bottom: 1px solid black;
    justify-content: space-between;
    padding: 20px 20px;
}

.nav{
    display: flex;
    margin: auto 0;
    justify-content: right;
}
.nav a{
    font-family: "Inika";
    font-size: 14px;
    text-decoration: none;
    margin: 0 5px;
    padding: 10px 15px;
    color: black;
    border-radius: 10px;
}
img.logo{
    width: 45px;
    height: fit-content;
}

/* active */
a.active{
    background-color: black;
    color: #DFB33E;
}

.regisbtn{
    border: 2px solid black;
}

.nav a:hover{
    transition: 0.3s;
    border-bottom: 3px solid black;
}


/* .title{
    background-color: #2A2A10;
    color: #FAE9B6;
    text-align: center;
    padding: 10px;
} */

.name{
    font-weight: bold;
}

.test-container{
    display: flex;
    margin: 2vh 3vw;
    flex-direction: column;
}
.col{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 2vw;
}
.row{
    display: flex;
    flex-direction: row;
    margin: 2vh 0;
}
.test-container img{
    margin: auto 5px;
    border-radius: 50%;
    width: 10%;
    height: 10%;
}
.content{
    padding: 5vh 5vw;
    max-width: 40vw;
    border-left: 1px solid black
}

@media screen and (max-width: 768px){
    .row{
        /* flex-direction: column; */
        flex-wrap: wrap;
    }
    
    .team-container{
        display: grid;
        grid-template-columns: auto auto;
    }
    .content{
        max-width: none;
    }

    .menubtn{
        display: block;
    }
    .content1{
        justify-content: left;
    }
    .content1 .closebtn{display: block;}
    .content1{
        padding: 0;
    }
    .content1 img, .content1 p{
        margin: auto 0;
    }
    .nav{
        display: block;
        position: fixed;
        width: 0;
        height: 100%;
        overflow-x: hidden;
        background-color: #DFB33E;
        transition: 0.5s;
    }
    .nav a{
        display: block;
        text-align: center;
    }
}